* {
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
}
nav {
    width: 100%;
    height: 50px;
    background: #212121;
    position: fixed;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    height: 84px;
    top: 50px;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px; 
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #FFFFFF;    
    font-size: 13px;
    font-weight: 400;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: right;
}

.subheader .subheader_phone {
    margin-top: 8px;
    display: block;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url('../img/bg/uber_bg.jpg') center center/cover no-repeat;
    padding: 200px 0 135px 0;
}
.promo .promo_header {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descr {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.work {
    padding: 20px 0 67px 0;
}

.label {
    width: 112px;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;    
    padding: 7px 0 6px 0;
    margin: 0 auto;
}

.title {
    margin-top: 33px;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.work .work_info .work_item {
    display: flex;
    margin-top: 20px;
    min-height: 155px;
}

.work .work_info .work_round {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 116px;
    min-height: 116px;
    background: #1EACC7;
    border-radius: 100%;
    margin: auto 0;
}

.work .work_info .work_item .work_content {
    font-weight: 300;
    font-size: 15px;
    color: #202020;
    margin: auto 0 auto 25px;
    line-height: 21px;
    padding-right: 33px;
    width: 372px;

}

.work .work_info .work_item .work_content span {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}